@model CodeFirst_CRUD.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RollNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RollNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollegeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollegeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentConfirmPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentConfirmPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
